.editor-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 35px;
    top: 35%;
    left: 30%;
    color: white;
    width: 100%;
    height: 1000px;
    background-color: #2a2a28;
}
.editor-wrapper div{
    margin: 20px;
}

#textEditData {
    width: 80%;
    height: 800px;
}
input{
    padding: 10px;
    margin: 10px;
}

