body {
    background-color: #5a5a5a;
}

.chat_header {
    display: flex;
    z-index: 100;
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    font-family: 'Arial', sans-serif;
    height: 87px;
    background-color: white;
    border: 1px solid black;
    user-select: none;
}

.chat_info {
    width: 100%;
    background-color: #2d2d2d;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
    height: 87px;
}

.chatName {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.users_counts {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.messages_counts {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.last_message_date {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.headerBlock:hover {
    background-color: #516d7e;
}
