.user-interface {
    display: flex;
    z-index: 100;
    bottom: 0;
    position: fixed;
    width: 80%;
    margin-left: 10%;
    font-family: 'Arial', sans-serif;
    height: 120px;
    border: 1px solid black;
    user-select: none;
    flex-direction: row;
    border-radius: 10px;
    background-color: #404045;
}

.message-fill {
    background-color: rgb(222, 222, 222);
    width: 80%;
    margin-left: 10px;
    margin-top: 10px;
    height: 100px;
    resize: none;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 17px;
    word-wrap: break-word;
    box-sizing: border-box;
    transition: border-bottom-color .3s linear;
}

.button-wrapper {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;

}

.send-button {
    height: 30px;
    margin-left: 20px;

}
