.login-wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.login-structure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2d2d2d;
     width: 300px;
    height: 200px;
}
.login-structure div{
    color: white;
    display: flex;
    flex-direction: column;
}
