.avatar {
    grid-column: 1/1;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.text-wrapper {
    grid-column: 2/2;
    grid-row: 2/4;
    color: #282c34;
    z-index: 20;
    word-wrap: break-word;
}

.like {
    width: 20px;
}

.like:hover {
    fill: #2a2a28;
}

.liked svg {
    fill: red;
}

.message-wrapper {
    margin-left: 20px;
    width: 60%;
    display: grid;
    grid-template-columns: 50px auto 150px;
    grid-template-rows: 30px 20px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #949494;
    border-radius: 5px;
}

.client-message {
    margin-left: 37%;
    grid-template-columns: 70px auto 30px;
    grid-template-rows: 30px 20px 30px;
    word-break: break-word;
}

.deleteMessage {
    grid-column: 3/3;
    grid-row: 2/2;
}

.deleteMessage:hover {
    fill: #2a2a28;
}


.client-message .text-wrapper {

}

.message-list img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.deleteMessage {
    display: none;
}

div.isClient {
    display: block;
    width: 20px;
    height: 20px;
}

.editMessage {
    display: none;
}

.editMessage:hover svg {
    fill: #2a2a28;
}

#checkbox-menu {
    display: none;

}

label {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 1;
    z-index: 1;
}

svg {
    width: 20px;
    height: 20px;
}
