.User-form-wrapper{
    display: flex;
    font-size: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.User-form-block{
    display: flex;
    width: 400px;
    background-color: #2a2a28;
    flex-direction: column;
    justify-content: center;
}
.User-form-block div{
    margin: 5px;
}
.headerOfForm{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid black ;
}
.footerOfForm{
    display: flex;
    border-top: 0.5px solid black;
    justify-content: center;
    align-items: center;
}