.User-list-wrapper{
    display: flex;
    width: 40%;
    flex-direction: column;
    height: auto;
}
.username-block{
    width: 200px;
    height: 50px;
}
.username-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Add-user-button, .GoToChatButton{
    width:100px;
    height:50px
}
.user-block{
    display: flex;
    margin-top: 5px;
    border: 1px solid black;
    flex-direction: row;
    background-color: #2d2d2d;
}
